
.DS_Store
defining functions and global variables.py
kivyapp.py
Users/lewis/Documents/GitHub/desktop-tutorial/
Users/lewis/Documents/GitHub/Learning-Python/
*.zip
database.ini
com.apple.dock.plist
index.html
getOpenWeather.py
keys.py
__pycache__/keys.cpython-39.pyc
__pycache__/threading.cpython-39.pyc
projectEuler007.py
